extends layout

block content
  
  .wrapper
    h1= title
    .catGrid
      each cat in catList
        .catCard
          .catPic= cat.pic
          .catName= cat.name
          .catDescription= cat.description
          .catStock Stock: #[=cat.stock]
          .catCategoryContainer
            each category in cat.category
              .catCategory
                a(href=category.url) #[=category.name]
          a.title(href=cat.url) Details
      