<h1>{{genre.name}}</h1>

<div>
  <h3>Books</h3>
  <div>
    {{#each genre_books}}
      <a href={{this.url}}>{{this.title}}</a>
      <p>{{this.summary}}</p>
    {{/each}}
    {{#ifeq genre_books ""}}
      <p>There are no {{genre.name}} books</p>
    {{/ifeq}}
  </div>
</div>